* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
}
.btn {
  height: 60px;
  color: black;
  background-color: #F55D5B;
}

ul {
  list-style: none;
}
.group-list-item {
  margin: 1.5px;
}
.pokedex-logo {
  height: 100px;
  width: 220px;
}
.navbar {
  background-color: #42AAF5;
}
body {
  margin-top: 175px;
  background-color: #F5F573;
}

.modal-content{
	margin-top: 5vh;
}

.modal-title{
	color: #FFCB05;
}

.modal-header {
	border: none;
	background-color: #303030;
}
.modal-body {
	display: flex;
	flex-direction: column;
	border-left: 6px solid #303030;
	border-right: 6px solid #303030;
}

.modal-img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
  align-self: center;
}

.modal-footer{
	border-left: 6px solid #303030;
	border-right: 6px solid #303030;
	border-bottom: 6px solid #303030;
	border-top: none;
}

.btn-close {
	color: #343198;
}